<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healing Playlists</title>
    <link rel="stylesheet" href="style.css">
    <style>
        tn {
            display: inline-block;
            padding: 10px 20px;
            background:  #6770e7;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

    </STYLE>
</head>
<body>
  <div class="container">
    <header>
        <h1>Healing playlist </h1>
        <nav>
         
            <ul class="nav-links">
                <li><a href="index">Home</a></li>
                <li><a href="playlist">Playlists</a></li>
                <li><a href="create">Create</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="admin">Admin</a></li>
            </ul>
        </nav>
    </header>
   
    <div class="menu-toggle">&#9776;</div>


    <section>
        <div class="playlist">
            <h3>Relaxation Sounds</h3>
            <audio controls src="sounds/relax.mp3"></audio>
        </div>
        <div class="playlist">
            <h3>Stress Relief Music</h3>
            <audio controls src="sounds/stress-relief.mp3"></audio>
        </div>
        <div class="playlist">
            <h3>Sleep Aid Sounds</h3>
            <audio controls src="sounds/sleep.mp3"></audio>
        </div>
    </section>
</body>
</html>